<f:layout/>

<!-- This removes the <header> partial of FSC -->
<f:section name="Header"/>
    
<f:section name="Main">
    <f:comment>
        <f:asset.css identifier="km-singlecontact-fe-css" href="{cb:assetPath()}/frontend.css"/>
        <f:asset.script identifier="km-singlecontact-fe-js" href="{cb:assetPath()}/frontend.js"/>
    </f:comment>
    <!-- Your content -->    
   
    <div class="ce-singlecontact">

    
        <div class="inner">
            
     
            <f:for each="{data.person}" as="person" iteration="i">
                <div class="the-person">
                    <div class="imagewrap">
                        <f:if condition="{person.pic}">
                            <f:image image="{person.pic.0}" treatIdAsReference="1" width="500c" height="500c" cropVariant="phone"/>
                        </f:if>
                    </div>

                    <div class="datawrap">      
                        <div class="nameblock">
                            <f:if condition="{person.name}">
                                <span class="name">{person.name}</span>
                            </f:if>
                            <f:if condition="{person.position}">
                                <span class="postition">{person.position}</span>                            
                            </f:if>
                        </div>                      
                        
                        
                        <f:if condition="{person.telephone}">
                            <a href="tel:{person.telephone}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                </svg>
                                <span>{person.telephone}</span>
                            </a>
                        </f:if>
                        <f:if condition="{person.email}">
                            <a href="mailto:{person.email}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                                </svg>
                                <span>{person.email}</span>
                            </a>
                        </f:if>
                    </div>
                </div>
                
            </f:for>
            
        </div>
    </div>
    

</f:section>






