

<div class="swiper-slide">
    <div class="swiper-slide-inner">
        <div class="rating-box">
            <div class="rating-icon">                       
                <span class="iconwrap"><img src="/typo3conf/ext/km_template/Resources/Public/Images/google.svg" width="59" height="59" alt="" /></span>                    
            </div>
            
            <div class="rating-stars" data-value="500">  
                <svg width="100%" height="100%" viewBox="0 0 881 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-634.728,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-447.914,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-261.961,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-76.0238,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,109.853,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                </svg>                                                               
                <span class="cover"></span>
            </div>
        </div>
        
            <div class="testitext">Für meine Immobilienfinanzierung habe ich mit Homestory zusammengearbeitet und kann ihre Dienstleistungen nur wärmstens empfehlen. Das Team war sehr professionell, kompetent und zugänglich während des gesamten Prozesses der Immobilienfinanzierung. Sie haben mir geholfen, eine maßgeschneiderte Finanzierungslösung zu finden, die perfekt zu meinen Bedürfnissen passt.
Die Mitarbeiter von Homestory waren sehr freundlich, geduldig und haben sich die Zeit genommen, alle meine Fragen ausführlich zu beantworten. Sie haben mir ein klares Verständnis für die verschiedenen Optionen gegeben und mir geholfen, fundierte Entscheidungen zu treffen.
Darüber hinaus war die Kommunikation mit Homestory super. Sie waren immer erreichbar und haben regelmäßig Updates bereitgestellt, um mich über den Fortschritt meiner Finanzierung auf dem Laufenden zu halten.
Dank Homestory konnte ich meinen Haustraum verwirklichen und habe mich dabei sicher und unterstützt gefühlt. Ich bin ihnen sehr dankbar für ihre tolle Arbeit und würde sie jedem empfehlen, der eine vertrauenswürdige und professionelle Immobilienfinanzierung sucht.</div>
        
        
            <p class="testiuser">Sebastian Gawron</p>
        
        <a href="https://g.page/r/CUSKetnkk8j-EAI/review" target="_blank" class="btn" rel="noreferrer">Jetzt bewerten</a>                               
        
    </div>
</div>


<div class="swiper-slide">
    <div class="swiper-slide-inner">
        <div class="rating-box">
            <div class="rating-icon">                       
                <span class="iconwrap"><img src="/typo3conf/ext/km_template/Resources/Public/Images/google.svg" width="59" height="59" alt="" /></span>                    
            </div>
            
            <div class="rating-stars" data-value="500">  
                <svg width="100%" height="100%" viewBox="0 0 881 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-634.728,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-447.914,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-261.961,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-76.0238,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,109.853,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                </svg>                                                               
                <span class="cover"></span>
            </div>
        </div>
        
            <div class="testitext">Die Homestory hat uns dabei geholfen, die beste Finanzierung für unser Haus zu finden. Über die komplette Zeit hatten wir immer denselben Ansprechpartner, wodurch die Kommunikation sehr angenehm verlief und wir regelmäßig auf den neusten Stand gebracht wurden. Mithilfe der leicht zu bedienbaren Rechner auf der Website, kann man sich im Vorfeld super informieren und sich seinen Budgetrahmen ermitteln lassen. Insgesamt sind wir sehr zufrieden und hätten niemals gedacht, dass der Onlineprozess so unkompliziert und schnell gehen würde. Vielen Dank!</div>
        
        
            <p class="testiuser">Katharina H.</p>
        
        <a href="https://g.page/r/CUSKetnkk8j-EAI/review" target="_blank" class="btn" rel="noreferrer">Jetzt bewerten</a>                               
        
    </div>
</div>


<div class="swiper-slide">
    <div class="swiper-slide-inner">
        <div class="rating-box">
            <div class="rating-icon">                       
                <span class="iconwrap"><img src="/typo3conf/ext/km_template/Resources/Public/Images/google.svg" width="59" height="59" alt="" /></span>                    
            </div>
            
            <div class="rating-stars" data-value="500">  
                <svg width="100%" height="100%" viewBox="0 0 881 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-634.728,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-447.914,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-261.961,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-76.0238,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,109.853,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                </svg>                                                               
                <span class="cover"></span>
            </div>
        </div>
        
            <div class="testitext">Mit der HomeStory gibt es ein wirkliches tolles Angebot. Wer zu Hause ganz in Ruhe alle Fragen zur Finanzierung erst einmal allein durchgehen möchte, findet hier einen eindrucksvollen Service. Mit umfänglicher digitaler Unterstützung -so dass man letztlich doch gar nicht ganz allein daran sitzt- können alle Fragen durchgearbeitet werden. Am Ende blieben nur wenige Punkte zur Klärung offen, die sich jedoch mit den Fachexperten der HomeStory schnell klären ließen. Ich habe das Angebot für die Prolongation meiner Finanzierung genutzt. Schnell, unkompliziert und sämtliche Schritte aus den eigenen vier Wänden heraus.</div>
        
        
            <p class="testiuser">Matthias</p>
        
        <a href="https://g.page/r/CUSKetnkk8j-EAI/review" target="_blank" class="btn" rel="noreferrer">Jetzt bewerten</a>                               
        
    </div>
</div>


<div class="swiper-slide">
    <div class="swiper-slide-inner">
        <div class="rating-box">
            <div class="rating-icon">                       
                <span class="iconwrap"><img src="/typo3conf/ext/km_template/Resources/Public/Images/google.svg" width="59" height="59" alt="" /></span>                    
            </div>
            
            <div class="rating-stars" data-value="500">  
                <svg width="100%" height="100%" viewBox="0 0 881 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-634.728,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-447.914,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-261.961,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-76.0238,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,109.853,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                </svg>                                                               
                <span class="cover"></span>
            </div>
        </div>
        
            <div class="testitext">Wer auf digitalen Umgang auch mit nicht so eingängigen Themen wie einer Baufinanzierung steht, ist hier richtig aufgehoben. Die Homestory überrascht mit detaillierten und dennoch leicht zu konsumierenden Tools und Infos rund um das Thema und holt damit auch Laien ab. Und falls man mal nicht weiterkommt stehen kompetente und gut erreichbare Ansprechpartner bis zur Auszahlung des Kredites zur Verfügung. Danke dafür und gern wieder.</div>
        
        
            <p class="testiuser">Falk W.</p>
        
        <a href="https://g.page/r/CUSKetnkk8j-EAI/review" target="_blank" class="btn" rel="noreferrer">Jetzt bewerten</a>                               
        
    </div>
</div>


<div class="swiper-slide">
    <div class="swiper-slide-inner">
        <div class="rating-box">
            <div class="rating-icon">                       
                <span class="iconwrap"><img src="/typo3conf/ext/km_template/Resources/Public/Images/google.svg" width="59" height="59" alt="" /></span>                    
            </div>
            
            <div class="rating-stars" data-value="500">  
                <svg width="100%" height="100%" viewBox="0 0 881 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-634.728,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-447.914,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-261.961,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,-76.0238,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                    <g transform="matrix(1,0,0,1,109.853,-382.568)">
                        <path d="M702.68,382.568L718.721,431.938L770.632,431.938L728.635,462.45L744.677,511.82L702.68,481.308L660.683,511.82L676.724,462.45L634.728,431.938L686.639,431.938L702.68,382.568Z" style="fill:rgb(255,216,0);"/>
                    </g>
                </svg>                                                               
                <span class="cover"></span>
            </div>
        </div>
        
            <div class="testitext">Fünf Sterne für die kompetente und freundliche Beratung und den super Rundum-Service bis hin zum Vertragsabschluss. Darüber hinaus hatte das Team jederzeit ein offenes Ohr für unsere Fragen. Danke HomeStory!</div>
        
        
            <p class="testiuser">Carolin S.</p>
        
        <a href="https://g.page/r/CUSKetnkk8j-EAI/review" target="_blank" class="btn" rel="noreferrer">Jetzt bewerten</a>                               
        
    </div>
</div>
