.ce-iconaccordion .iconwrap {
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;  
    display: inline-block;
    margin-bottom: 0.5rem;
} 

.ce-iconaccordion .iconwrap svg {
    width: 2rem;
    height: 2rem;
    margin: 0;
    display: block;
}

.ce-iconaccordion .title {
    font-size: 1.5rem;
    font-weight: 700;    
    margin-bottom: 0.5rem;
}