
<h2>Check dein Budget</h2>


<div class="form-box">

    <h2>{f:if(condition: '{data.header}', then: '{data.header}', else: 'Check Dein Budget')}</h2>

    <form action=""id="budgetcheck">   
    
        <div class="fieldwrap" id="bc-monthlyincome">

            <label for="monthlyincome">Nettoeinkommen</label>
            <input type="text" readonly name="monthlyincome" id="bc-monthlyincome-value"  />
            <div class="rangerwrap">
                <span class="min">1.500</span>
                <input class="hsranger" name="monthlyincome" id="bc-monthlyincome-slider" value="2500" type="range" step="100" min="1500" max="10000" />
                <span class="max">10.000</span>
            </div>
        </div>


        <div class="fieldwrap" id="bc-equity">                
            <label for="equity">Eigenkapital</label>
            <input type="text" readonly name="equity" id="bc-equity-value"  />
            <div class="rangerwrap">
                <span class="min">0</span>
                <input class="hsranger" name="equity" id="bc-equity-slider" value="0" type="range" step="10000" min="0" max="500000" />
                <span class="max">500T</span>
            </div>
        </div>
        
        <div class="fieldwrap" id="bc-monthlyrate">
            <label for="monthlyrate">monatliche Wunschrate</label>
            <input type="text" readonly name="monthlyrate" id="bc-monthlyrate-value"  />
            <div class="rangerwrap">
                <span class="min"></span>
                <input class="hsranger" name="monthlyrate" id="bc-monthlyrate-slider" value="0" type="range" step="50" min="0" max="10000" />
                <span class="max"></span>
            </div>
        </div>
        
             
        <h4>Berechnung im Budgetcheck</h4>
        
        <div class="fieldsrow">
            <div class="fieldwrap">
                <label for="ergebnis-lineofcredit">Max. Kreditrahmen</label>
                <input type="text" class="specialinput" readonly name="ergebnis-lineofcredit" id="bc-result-lineofcredit"  />                
            </div>
            
            <div class="fieldwrap">
                <label for="ergebnis-propertyprice">Max. Immobilienpreis</label>
                <input type="text" class="specialinput" readonly name="ergebnis-propertyprice" id="bc-result-propertyprice"  />                
            </div>

        </div>
    
    </form>




</div>