.ce-hoverbox {
  --color-blue: #0073d2;
  --color-darkblue: #151f76;
  --color-berry: #a60781;
  --color-cyan: #2afffc;
  --color-aquamarin: #16cbaf;
  --transition-speed: 0.3s;
  display: flex;
  flex-wrap: wrap;
}
.ce-hoverbox .inner {
  container-type: inline-size;
  container-name: hoverbox;
  flex: 1 1 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .ce-hoverbox .inner {
    flex: 1 1 50%;
    width: 50%;
  }
}
.ce-hoverbox .inner[data-color="blue"] {
  background-color: var(--color-blue);
}
.ce-hoverbox .inner[data-color="blue"] svg * {
  fill: #ffffff;
}
.ce-hoverbox .inner[data-color="blue"] .back .btn {
  color: var(--themecolor, #0073d2) !important;
  background-color: white;
}
.ce-hoverbox .inner[data-color="darkblue"] {
  background-color: var(--color-darkblue);
}
.ce-hoverbox .inner[data-color="berry"] {
  background-color: var(--color-berry);
}
.ce-hoverbox .inner[data-color="cyan"] {
  background-color: var(--color-cyan);
}
.ce-hoverbox .inner[data-color="cyan"] .back {
  color: #17242f !important;
}
.ce-hoverbox .inner[data-color="aquamarinonwhite"] {
  background-color: white;
  color: var(--color-aquamarin);
}
.ce-hoverbox .inner[data-color="aquamarinonwhite"]:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1.5cqw solid var(--color-aquamarin);
}
.ce-hoverbox .inner[data-color="aquamarinonwhite"] svg * {
  fill: var(--color-aquamarin);
}
.ce-hoverbox .inner[data-color="aquamarinonwhite"] .back {
  color: var(--color-aquamarin) !important;
}
.ce-hoverbox .front {
  position: relative;
  z-index: 1;
  transition: opacity var(--transition-speed);
}
.ce-hoverbox .back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity var(--transition-speed);
}
.ce-hoverbox .back .position {
  padding: 2rem;
}
.ce-hoverbox .back p {
  margin-bottom: 0.5em;
}
.ce-hoverbox .back p:last-child {
  margin-bottom: 0;
}
.ce-hoverbox .inner:hover .back {
  opacity: 1;
  color: white;
}
.ce-hoverbox .inner:hover .front {
  opacity: 0;
}